html {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    vertical-align: top;
    background: #1f0f3f;
    /*! text-shadow: -1px 0 #7fffff, 0 1px #7fffff, 1px 0 #7fffff, 0 -1px #7fffff; */
    font-weight: 700;
    color: #00bfbf;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div {
    background: black;
    padding: 5em;
    border-radius: 2em;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", sans-serif;
    padding-top: 0;
    padding-bottom: 0em;
}

h3 {
    margin-top: 0;
    margin-bottom: 0rem;
    display: inline-block;
    position: relative;
    top: -1em;
    padding: 0.5em;
    border-radius: 9999999999px;
    text-shadow: -1px 0 #ffff00, 0 1px #ffff00, 1px 0 #ffff00, 0 -1px #ffff00;
    font-weight: 400;
    background-image: radial-gradient(ellipse at center, #bfbf00, #bfbf00 90%, #ffffff 100%);
    color: #3f0000;
}

h1, h2, p {
    padding: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

a {
    padding: 0.5em 2em;
    display: inline-block;
    background: #bf7fff;
    color: #3f1f7f;
    text-shadow: -2px 0 #ffbfff, 0 2px #ffbfff, 2px 0 #ffbfff, 0 -2px #ffbfff;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 0.5em;
    margin-bottom: 0;
}

p {
    margin-bottom: 1em;
}

.align_left {
    float: left;
    text-align: right;
}
.align_right {
    float: right;
    text-align: left;
}

.align_left, .align_right {
    width: 48%;
}


  img {
    margin-top: 32px;
    border: 16px solid transparent;
    padding: -4px;
    border-image: url('https://raw.githubusercontent.com/thomas-xin/Miza/master/misc/border.gif') 33.333333333333% stretch;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }