html {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    vertical-align: top;
    background: #1f003f;
    text-shadow: 1px 1px 1px 1px rgba(1,1,1,0.5);
    color: cyan;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div {
    padding: 5em;
    border-radius: 2em;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.3);
    font-family: system-ui, "comic sans ms";
    padding-top: 0;
    padding-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0rem;
    display: inline-block;
    position: relative;
    top: -1.3em;
    padding: 0.5em;
    border-radius: 9999999999px;
    font-weight: lighter;
    background: #1f003f;
    color: white;
}

h1, h2, p {
    padding: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

h2 {
    font-weight: lighter;
    font-size: 1.3rem;
}

a {
    padding: 0.5em 2em;
    display: inline-block;
    background: #bf7fff;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 0.5em;
    margin-bottom: 0;
}

p {
    margin-bottom: 1em;
}

.align_left {
    float: left;
}
.align_right {
    float: right;
}