__pycache__

*.tmp
*.pem
backup
cache
saves
auth.json
log.txt
log.zip
binaries
misc/help.json
misc/emojis.json
training.txt
config.json
misc/poppler
ffmpeg.exe
ffplay.exe
ffprobe.exe
ffmpeg
ffplay
ffprobe