__pycache__

*.tmp
*.pem
backup
cache
saves
auth.json
log.txt
collections2.py
misc/iman
misc/help.json
misc/emojis.json
misc/Clip
misc/4x4.exe
misc/4x4
misc/ecm.exe
misc/ecm
misc/gifsicle.exe
misc/gifsicle
misc/msedgedriver.exe
misc/msedgedriver
training.txt
config.json
misc/poppler
misc/rust/dist
misc/rust/target
misc/rust/venv
misc/rust/Cargo.lock
ffmpeg.exe
ffplay.exe
ffprobe.exe
ffmpeg
ffplay
ffprobe