antlr4-python3-runtime>=4.8
asyncio>=3.4.3
blend-modes>=2.1.0
bs4>=0.0.1
colormath>=3.0.0
discord.py>=1.5.0
googletrans>=3.0.0
knackpy>=1.0.13
matplotlib>=3.3.3
mpmath>=1.1.0
nekos.py>=1.0.3
numpy>=1.19.4
pdf2image>=1.14.0
pillow>=8.0.1
prettytable>=0.7.2
psutil>=5.7.3
Pybooru>=4.2.0
PyNaCl>=1.4.0
python-dateutil>=2.8.1
pytz>=2020.4
requests>=2.24.0
rule34>=1.7.4
sympy>=1.6.2
youtube-dlc>=2020.11.11.post3