body {
	background: white;
}
.markup.messageContent {
	color: black;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	border-radius: 4px;
	color: var(--header-secondary);
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}


#root {
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 100vh;
}

.dontRowMeThanks {
	height: max-content;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 5rem;
}

h1 {
	color: black;
	font-size: 3em;
	margin-bottom: 0.2em;
}

.output {
	height: 0;
	overflow: hidden;
	transition: height 1s;
	margin-top: 2rem;
	position: relative;
}

.commandWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: max-content;
	height: ;
}
.inputWrapper {
	position: relative;
}
.commandInput {
	background: none;
	color: black;
	font-family: Whitney;
	font-size: 2rem;
	font-weight: 500;
	border: none;
	padding: 0.5rem 2rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
	border-radius: 100vw;
	height: 1.8em;
}
button.greeny {
	height: 3.6rem;
	box-sizing: border-box;
	margin-left: 1rem;
	background: #19ff5d;
	border: none;
	color: #000;
	font-family: Whitney;
	font-size: 1.4rem;
	padding: 0px 2rem;
	border-radius: 100vw;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
	font-weight: 500;
	cursor: pointer;
	will-change: transform;
	transition: transform 250ms;
}
button.greeny:active {
	transform: translateY(2px);
}

.centerH {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100vw;
	flex: 0 0;
}

.username.clickable {
	color: black;
}

.loader {
	position: absolute;
	z-index: 2;
	background: #00000021;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	color: black;
	opacity: 1;
	animation: loaderIn 500ms;
}

.innerLoader {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

@keyframes loaderIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.message {
	width: unset !important;
}

.back {
	margin-bottom: 1em;
}
