body {
	background: white;
}


#root {
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 100vh;
}

.dontRowMeThanks {
	height: max-content;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 5rem;
}

.name {
	color: black;
	font-size: 5rem;
}
.sub {
	color: black;
	font-size: 1.4rem;
	margin: 5rem 0;
}
.credits {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 1em;
	color: black;
	text-align: center;
}
